<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457442626452-2riq1qbidk82coe1oj6topr9b4rtg03l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457442626452-2riq1qbidk82coe1oj6topr9b4rtg03l</string>
	<key>API_KEY</key>
	<string>AIzaSyAdHgGCKwoFV4kbPIcdFYhwRjYB3COLE44</string>
	<key>GCM_SENDER_ID</key>
	<string>457442626452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cows.are.beautiful.jamLogger</string>
	<key>PROJECT_ID</key>
	<string>jam-logger</string>
	<key>STORAGE_BUCKET</key>
	<string>jam-logger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457442626452:ios:8dcc5c0f4c43197c6b9d81</string>
</dict>
</plist>